In [1]:
# TASK 1: Data Handling with NumPy & Pandas
# Environment: Google Colab

#LOAD DATASET
import pandas as pd

#DATASET LINK
url = "https://gist.githubusercontent.com/mattkram/2af421edd49f9d3109b2e83e71152887/raw/iris.csv"
df = pd.read_csv(url)
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [2]:
# INSPECT DATASET

df.shape
df.info()
df.columns
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [9]:
# Data Cleaning & Preparation

# Check for Missing Values
df.isnull().sum()

# Check for Duplicate Records
df.duplicated().sum()

# Remove duplicate records
df = df.drop_duplicates()

In [10]:
# NumPy Array Operations

# Convert numeric columns to NumPy array:

numeric_data = df.iloc[:, :-1].to_numpy()

In [15]:
# Basic Statistical Analysis (NumPy)

import numpy as np

np.mean(numeric_data)
np.median(numeric_data)
np.std(numeric_data)

np.float64(34.76173195429454)